doctype html
html
  head
    meta(charset='utf-8')
    title #{title}
    link(rel='stylesheet', href='/monoture/css/main.css', media='screen')
    link(rel='stylesheet', href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.6.1/css/font-awesome.min.css')
    link(rel='stylesheet', href='https://fonts.googleapis.com/css?family=Comfortaa', media='screen')
  body.flex-sm.flex-sm-column
    nav.navbar.navbar-dark.navbar-full.bg-navy
      a(href='/monoture').navbar-brand M
      ul.nav.navbar-nav.pull-xs-right
        li.nav-item
          a.nav-link(href='/monoture')
            i.fa.fa-fw.fa-file-text-o
            |Posts
        li.nav-item
          a.nav-link(href='/monoture/settings')
            i.fa.fa-fw.fa-cog
            |Settings
        li.nav-item
          a.nav-link(href='/monoture/plugins')
            i.fa.fa-fw.fa-plug
            |Plugins

    main.flex-sm.flex-sm-1
      block content

    //- Scripts
    script(src='/monoture/js/main.js')
