extends ./layouts/main.pug

block content
  .row.flex-sm-1
    .col-md-6.flex-sm
      .card.flex-sm-1.flex-sm.flex-sm-column
        .card-block.flex-sm-1.flex-sm.flex-sm-column
          form.flex-sm-1.flex-sm.flex-sm-column(method='post', action='/monoture/post')
            if post._id
              input(value=post._id, name='id', type='hidden')
            input.form-control(value=post.title, name='title', placeholder="Title")#title
            textarea.flex-sm-1.textarea-flush.m-y-1(name='body', data-spy='markdown', data-target='#preview', data-title='#title')= post.body
            .form-group
              input.form-control(value=post.slug, name='slug', placeholder="Slug")
            .clearfix
              a(href='/monoture').btn.btn-secondary.btn-sm.pull-left
                i.fa.fa-angle-left
                |Cancel
              button.btn.btn-primary-outline.btn-sm.pull-right(type='submit')
               i.fa.fa-floppy-o
               |Save
    .col-md-6.flex-sm
      .card.flex-sm-1
        .card-block#preview
