extends ./layouts/main.pug

block content

  .flex-sm-1.flex-sm

    //- Sidebar
    ul.list-group.list-group-flush.list-group-inverse.flex-sm-1.overflow-y.scrollbar-inverse
      li.list-group-item.active(data-toggle="tab", data-target="#general") General
      li.list-group-item(data-toggle="tab", data-target="#plugin") Plugin
      li.list-group-item(data-toggle="tab", data-target="#user") Users

    //- Content
    .flex-sm-4.flex-sm.flex-sm-column
      .tab-content.p-a-1

        //- General Settings
        .tab-pane.active.fade.in#general
          h2 General Settings
          .row
            .col-xs-12.col-md-8.col-xl-6
              form(method='post', action='/dashboard/settings')
                .form-group
                  label.control-label Website Name
                  input.form-control(name='siteName', value=site.name)

                button.btn.btn-primary.btn-sm.pull-right(type='submit')
                  i.fa.fa-floppy-o
                  |Save

        //- Plugin Settings
        .tab-pane.fade#plugin
          h2 Plugin Settings

        //- User Settings
        .tab-pane.fade#user
          h2 User Settings
