$navbar-dark-color : #FFF;
$navbar-dark-hover-color : #ededed;

$brand-teal : #195962;
$brand-pink : #F56F6C;
$brand-blue : #252932;
$brand-navy : #191C21;

$brand-primary : $brand-teal;

$gray-dark:                 lighten(#191C21, 2%);
$gray:                      lighten(#191C21, 4%);
// $gray-light:                #596475;
// $gray-lighter:              #BAD0F5;
// $gray-lightest:             #899AB5;

$border-radius:          .125rem !default;
$border-radius-lg:       .1875rem !default;
$border-radius-sm:       .125rem !default;
