.list-group-inverse {
  color: $gray-lighter;
  background-color: $gray-dark;

  .list-group-item {
    color: $gray-lighter;
    background-color: $gray-dark;
    border-color: $gray;

    &.active {
      &:hover, &:active, &:focus {
        border-color: $gray;
      }
    }
  }

  a.list-group-item,
  button.list-group-item,
  .list-group-item[data-toggle="tab"] {
    // Hover state
    @include hover-focus {
      color: $gray-lighter;
      text-decoration: none;
      background-color: $gray;
    }
  }
}

.list-group-item.active {
  &:after {
    right : -1px;
    top : 50%;
  	border: solid transparent;
  	content: " ";
  	height: 0;
  	width: 0;
  	position: absolute;
  	pointer-events: none;
  	border-right-color: #FFF;
  	border-width: 15px;
  	margin-top: -15px;
  }
}

.list-group-item[data-toggle="tab"] {
  cursor : pointer;
}
