.form-control-minimal {
  background : transparent;
  border : none;
  margin-right : 1em;

  &:focus {
    outline : none;
  }
}

.textarea-flush {
  border : none;
  resize: none;
  font-family: "Courier New", Courier, monospace;

  &:focus {
    outline: none
  }
}

.form-control-inverse {
  background : $gray;
  color : $gray-lighter;
  border-color : lighten($gray, 5%);
}
